html{
    scrollbar-color: transparent transparent;
}
:root{
    --bg-color: black;
    --card-bg-color: #0E0426;
    --text-color: white;
    --project-name-color: violet;
    --icon-color: white;
    --icon-color-hover: blueviolet;
    --card-shadow: none;
    --card-glow: 0 0  40px blueviolet;
    --watermark: rgba(138, 43, 226, .5);
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(14, 4, 38, .8);
    color: var(--text-color);
    z-index: 100;
    user-select: none;
}
.header h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header h3{
    position: absolute;
    top: 6px;
    left: 5%;
    font-size: 22px;
    color: var(--watermark);
}
#home{
    position: absolute;
    top: 28px;
    right: 5%;
}
#sun{
    position: absolute;
    top: 28px;
    right: 8.5%;
}
#moon{
    position: absolute;
    top: 28px;
    right: 8.5%;
    display: none;
}
.mainDiv{
    padding: 1%;
    position: absolute;
    top: 120px;
    left: 0;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 8%;
    justify-items: center;
}
.card{
    background-color: var(--card-bg-color);
    width: 400px;
    height: 510px;
    border-radius: 20px;
    box-shadow: var(--card-shadow);
}
.card:hover{
    box-shadow: var(--card-glow);

}
.imgContainer{
    position: relative;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    height: 250px;
    display: flex;
    justify-content: center;
    user-select: none;
}
.card h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--project-name-color);
    user-select: none;
}
.card p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 80px;
}
.icons{
    width: 100px;
    position: relative;
    left: calc(50% - 50px);
    top: 15px;
    display: flex;
    justify-content: space-evenly;
}
.icon{
    stroke: var(--icon-color);
}
.icon:hover{
    cursor: pointer;
    stroke: var(--icon-color-hover);
}
@media (max-width: 1350px) {
    .mainDiv {
        grid-template-columns: repeat(2, 1fr);
    }
    #home{
        top: 28px;
        right: 5%;
    }
    #sun, #moon{
        top: 28px;
        right: 10%;
    }
}
@media(max-width: 870px) {
    .mainDiv{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 70px;
    }
    .card {
        width: 400px;
        height: 510px;
    }
    .card p{
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
    }
    #home{
        top: 28px;
        right: 5%;
    }
    #sun, #moon{
        top: 28px;
        right: 13%;
    }
}
@media(max-width: 480px) {
    :root {
        --card-glow: 0 0  35px rgb(138, 43, 226,.8);
    }
    .mainDiv{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 70px;
    }
    .header{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header h1{
        font-size: 25px;
    }
    .header h3{
        font-size: 15px;
        top: 12px;
    }
    #home{
        top: 25px;
        right: 5%;
        height: 21px;
        width: 21px;
    }
    #sun{
        top: 25px;
        right: 14%;
        height: 21px;
        width: 21px;
    }
    #moon{
        top: 26px;
        right: 14%;
        height: 20px;
        width: 20px;
    }
    .card {
        width: 350px;
        height: 510px;
    }
    .icons{
        top: 18px;
    }
}